<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="timer_Connect" value="1000"/>
    <add key="timer_KeepAlive" value="5000"/>
    <add key="timer" value="100"/>
  </appSettings>
</configuration>